<div class="container">
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/img/cloud.png" width="70" height="39" alt="cloud.shop">
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <NavLink class="navbar-item" href="/" Match="NavLinkMatch.All">Home</NavLink>
                <NavLink class="navbar-item" href="/counter">Counter</NavLink>
                <NavLink class="navbar-item" href="/articles">Articles</NavLink>
            </div>
        </div>
    </nav>
</div>